language: python
dist: xenial
python:
  - 3.7
env:
  - FLASK=1.0.2
install:
  - pip3 install -q Flask==$FLASK
  - pip3 install nanorm
script:
  - echo "Success!"
deploy:
  provider: scalingo
  username: ketivah859
  password: killgore
  on:
    branch:main
