<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ w3css }}"/>
    <script src="{{ jquery }}"></script>
    <script>
        var page = 'HOME';
    </script>
    <script src="{{ main }}"></script>
    <title>Shrapnel</title>
</head>
<body>
<header class="w3-container w3-padding-8 w3-blue w3-navbar">
    <h2>Shrapnel</h2>
    {% if is_admin: %}
    <li><a href="/settings">Settings</a></li>
    {% endif %}
    <li><a href="/logout">Logout</a></li>
</header>
<main class="w3-container">
    <h3>Download File</h3>
    <div class="w3-container w3-margin-32" action="download/" method="post">
        <input class="w3-input" name="url" type="url" placeholder="Enter url here ..." autocomplete="off">
        <input class="w3-input" name="filename"  placeholder="Filename.mp4">
        <button class="w3-btn w3-padding-4 w3-round w3-red" onclick="download_url()">Go</button>
    </div>
    <hr/>
    <ul class="w3-ul w3-card" id="progress-display"></ul>
    <ul class="w3-ul w3-card" id="dwnld-display"></ul>
    <div id="samples" class="w3-hide">
        <li class="w3-row" id="dwnld">
            <div class="w3-col l10 m10 s10">
                <p id="name" style="overflow-x: auto;"></p>
                <p class="w3-text-grey w3-left" id="size"></p>
            </div>
            <div class="w3-col w3-right l2 m2 s2">
                <p>
                    <a class="w3-btn w3-blue w3-round-large w3-large" id="download">&downarrow;</a>
                    <a class="w3-btn w3-green w3-round-large w3-large" id="multi-download">&downdownarrows;</a>
                </p>
            </div>
        </li>
        <li class="w3-row" id="progress">
            <p id="name"></p>
            <div class="w3-progress-container">
                <p><div id="progress-view" class="w3-progressbar w3-light-blue"></div></p>
            </div>
        </li>
    </div>
</main>
</body>
</html>
